In [1]:
#scrape each table of wikipedia books to movies page

In [3]:
from bs4 import BeautifulSoup
from splinter import Browser
from pprint import pprint
import pymongo
import pandas as pd
import requests

In [27]:
a_to_c = pd.read_html("https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(0%E2%80%939,_A%E2%80%93C)")
a_to_c_movies = [a_to_c[1], a_to_c[2], a_to_c[3]]
a_to_c_movies_df = pd.concat(a_to_c_movies)
a_to_c_movies_df

,Fiction work(s),Film adaptation(s)
0,"The A.B.C. Murders (1936), Agatha Christie",The Alphabet Murders (1966)The A.B.C. Murders ...
1,"À ton image (1998), Louise L. Lambrichs",À ton image (2004)
2,"De Aanslag (The Assault) (1982), Harry Mulisch",The Assault (1986)
3,"About a Boy (1998), Nick Hornby",About a Boy (2002)
4,"About Schmidt (1996), Louis Begley",About Schmidt (2002)
...,...,...
123,Cry Wolf (a. k. a. The Demarest Inheritance) (...,Cry Wolf (1947)
124,"Cutter and Bone (1976), Newton Thornburg",Cutter's Way (1981)
125,"Cyborg (1972), Martin Caidin",The Six Million Dollar Man (1973) (TV)
126,"Cycle of the Werewolf (1983), Stephen King",Silver Bullet (1985)
127,"The Cypher (a. k. a. The Cipher) (1961), Gordo...",Arabesque (1966)

In [28]:
d_to_j = pd.read_html("https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(D%E2%80%93J)")
d_to_j_movies = [d_to_j[1], d_to_j[2], d_to_j[3], d_to_j[4], d_to_j[5], d_to_j[6]]
d_to_j_movies_df = pd.concat(d_to_j_movies)
d_to_j_movies_df

,Fiction work(s),Film adaptation(s)
0,"The Eagle Has Landed (1975), Jack Higgins",The Eagle Has Landed (1976)
1,"The Eagle of the Ninth (1954), Rosemary Sutcliff",The Eagle (2011)
2,"East of Eden (1952), John Steinbeck",East of Eden (1955)
3,"Eaters of the Dead (1976), Michael Crichton",The 13th Warrior (1999)
4,"Eddie and the Cruisers (1980), P. F. Kluge",Eddie and the Cruisers (1983)
...,...,...
22,"The Jungle Book (1894), Rudyard Kipling* The S...",Elephant Boy (1937)Jungle Book (1942)The Jungl...
23,"Jupiter Laughs (1940), A. J. Cronin",Shining Victory (1941)Ich suche Dich (I Seek Y...
24,"Jurassic Park (1990), Michael Crichton",Jurassic Park (1993–present) (series)Jurassic ...
25,"The Jungle (1906), Upton Sinclair",The Jungle (1914)
26,"Justine (1957), Lawrence Durrell",Justine (1969)

In [29]:
k_to_r = pd.read_html("https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(K%E2%80%93R)")
k_to_r_movies = [k_to_r[1], k_to_r[2], k_to_r[3], k_to_r[4], k_to_r[5], k_to_r[6], k_to_r[7], k_to_r[8]]
k_to_r_movies_df = pd.concat(k_to_r_movies)
k_to_r_movies_df

,Fiction work(s),Film adaptation(s)
0,"Kaitei Gunkan (1902–1907), Shunro OshikawaKait...",Atragon (1963)Super Atragon (1995)
1,"Kami no Tsuki (2012), Mitsuyo Kakuta",Pale Moon (2014)
2,"Kenka erejii (1963), Takashi Suzuki",Fighting Elegy (1966)
3,"The Keys of the Kingdom (1941), A. J. Cronin",The Keys of the Kingdom (1944)
4,"Khamphiphaksa (The Judgment) (1981), Chart Kor...",Ai-Fak (2004)
...,...,...
60,"Rum Punch (1992), Elmore Leonard",Jackie Brown (1997)
61,"The Runaway Jury (1996), John Grisham",Runaway Jury (2003)
62,"A Running Duck (a.k.a. Fair Game) (1974), Paul...",Cobra (1986)Fair Game (1995)
63,"The Running Man (1982), Stephen King (as Richa...",The Running Man (1987)
64,"The Russia House (1989), John le Carré",The Russia House (1990)

In [ ]:
s_to_z = pd.read_html("https://en.wikipedia.org/wiki/List_of_fiction_works_made_into_feature_films_(S%E2%80%93Z)")
s_to_z_movies = [s_to_z[1], s_to_z[2], s_to_z[3], s_to_z[4], s_to_z[5], s_to_z[6]]
s_to_z_movies_df =  pd.concat(s_to_z_movies)
s_to_z_movies_df

In [141]:
a_to_z_movies = [a_to_c_movies_df, d_to_j_movies_df, k_to_r_movies_df, s_to_z_movies_df]
a_to_z_movies_df = pd.concat(a_to_z_movies)
a_to_z_movies_df

,Fiction work(s),Film adaptation(s)
0,"The A.B.C. Murders (1936), Agatha Christie",The Alphabet Murders (1966)The A.B.C. Murders ...
1,"À ton image (1998), Louise L. Lambrichs",À ton image (2004)
2,"De Aanslag (The Assault) (1982), Harry Mulisch",The Assault (1986)
3,"About a Boy (1998), Nick Hornby",About a Boy (2002)
4,"About Schmidt (1996), Louis Begley",About Schmidt (2002)
...,...,...
3,Zazie in the Metro (Zazie dans le métro) (1959...,Zazie in the Metro (Zazie dans le Métro) (1960)
4,"De Zesde Mei (2003), Tomas Ross",06/05 (2003)
5,"Zona Zamfirova (1906), Stefan Sremac",Zona Zamfirova (2002)
6,"Zorba the Greek (1946), Nikos Kazantzakis",Zorba the Greek (1964)
7,"Zuqāq al-Midaq (Midaq Alley) (1947), Naguib Ma...",El callejón de los milagros (1994)

In [142]:
#set delimiter to be used to split movies adapted from books multiple times
a_to_z_movies_df["Film adaptation(s)"] = a_to_z_movies_df["Film adaptation(s)"].str.replace(f")", f"),")

In [143]:
#rename columns
a_to_z_movies_df = a_to_z_movies_df.rename(columns={"Fiction work(s)": "Books", "Film adaptation(s)":"Movies"})
a_to_z_movies_df

,Books,Movies
0,"The A.B.C. Murders (1936), Agatha Christie","The Alphabet Murders (1966),The A.B.C. Murders..."
1,"À ton image (1998), Louise L. Lambrichs","À ton image (2004),"
2,"De Aanslag (The Assault) (1982), Harry Mulisch","The Assault (1986),"
3,"About a Boy (1998), Nick Hornby","About a Boy (2002),"
4,"About Schmidt (1996), Louis Begley","About Schmidt (2002),"
...,...,...
3,Zazie in the Metro (Zazie dans le métro) (1959...,"Zazie in the Metro (Zazie dans le Métro), (1960),"
4,"De Zesde Mei (2003), Tomas Ross","06/05 (2003),"
5,"Zona Zamfirova (1906), Stefan Sremac","Zona Zamfirova (2002),"
6,"Zorba the Greek (1946), Nikos Kazantzakis","Zorba the Greek (1964),"
7,"Zuqāq al-Midaq (Midaq Alley) (1947), Naguib Ma...","El callejón de los milagros (1994),"

In [144]:
#explode books then save to excel for excel data cleaning
a_to_z_movies_df = a_to_z_movies_df.assign(Books=a_to_z_movies_df.Books.str.split("*")).explode("Books")
a_to_z_movies_df.to_csv("clean_a_to_z.csv", encoding="utf-8", index=False)

,Books,Movies
0,"The A.B.C. Murders (1936), Agatha Christie","The Alphabet Murders (1966),The A.B.C. Murders..."
1,"À ton image (1998), Louise L. Lambrichs","À ton image (2004),"
2,"De Aanslag (The Assault) (1982), Harry Mulisch","The Assault (1986),"
3,"About a Boy (1998), Nick Hornby","About a Boy (2002),"
4,"About Schmidt (1996), Louis Begley","About Schmidt (2002),"
...,...,...
3,Zazie in the Metro (Zazie dans le métro) (1959...,"Zazie in the Metro (Zazie dans le Métro), (1960),"
4,"De Zesde Mei (2003), Tomas Ross","06/05 (2003),"
5,"Zona Zamfirova (1906), Stefan Sremac","Zona Zamfirova (2002),"
6,"Zorba the Greek (1946), Nikos Kazantzakis","Zorba the Greek (1964),"
7,"Zuqāq al-Midaq (Midaq Alley) (1947), Naguib Ma...","El callejón de los milagros (1994),"

In [38]:
#read drop blank rows and save overwrite the cleaned file
clean_a_to_z = pd.read_csv('clean_a_to_z.csv') 
clean_a_to_z = clean_a_to_z[clean_a_to_z['Books'].notna()]
clean_a_to_z.to_csv("clean_a_to_z.csv", encoding="utf-8", index=False)
clean_a_to_z

,Books,Authors,Movies
0,"The A.B.C. Murders (1936),",Agatha Christie,"The Alphabet Murders (1966),The A.B.C. Murders..."
1,"À ton image (1998),",Louise L. Lambrichs,"À ton image (2004),"
2,"De Aanslag (The Assault) (1982),",Harry Mulisch,"The Assault (1986),"
3,"About a Boy (1998),",Nick Hornby,"About a Boy (2002),"
4,"About Schmidt (1996),",Louis Begley,"About Schmidt (2002),"
...,...,...,...
1469,"Zazie in the Metro (Zazie dans le métro) (1959),",Raymond Queneau,"Zazie in the Metro (Zazie dans le Métro), (1960),"
1470,"De Zesde Mei (2003),",Tomas Ross,"06/05 (2003),"
1471,"Zona Zamfirova (1906),",Stefan Sremac,"Zona Zamfirova (2002),"
1472,"Zorba the Greek (1946),",Nikos Kazantzakis,"Zorba the Greek (1964),"
1473,"Zuqāq al-Midaq (Midaq Alley) (1947),",Naguib Mahfouz,"El callejón de los milagros (1994),"

In [39]:
#Explode Movies
test_db = clean_a_to_z.assign(Movies=clean_a_to_z.Movies.str.split(",")).explode("Movies")
test_db

,Books,Authors,Movies
0,"The A.B.C. Murders (1936),",Agatha Christie,The Alphabet Murders (1966)
0,"The A.B.C. Murders (1936),",Agatha Christie,The A.B.C. Murders (1992)
0,"The A.B.C. Murders (1936),",Agatha Christie,(TV)
0,"The A.B.C. Murders (1936),",Agatha Christie,
1,"À ton image (1998),",Louise L. Lambrichs,À ton image (2004)
...,...,...,...
1471,"Zona Zamfirova (1906),",Stefan Sremac,
1472,"Zorba the Greek (1946),",Nikos Kazantzakis,Zorba the Greek (1964)
1472,"Zorba the Greek (1946),",Nikos Kazantzakis,
1473,"Zuqāq al-Midaq (Midaq Alley) (1947),",Naguib Mahfouz,El callejón de los milagros (1994)
1473,"Zuqāq al-Midaq (Midaq Alley) (1947),",Naguib Mahfouz,

In [49]:
#Clean data to select movie rows that doesn't contain blanks: then clean all rows with excel
#Then explode the year from movies using excel :P cause it's easier to do it there
test_db2 = test_db[test_db['Movies']!=""]
test_db2.to_csv("test3.csv", encoding="utf-8", index=False)
test_db2

,Books,Authors,Movies
0,"The A.B.C. Murders (1936),",Agatha Christie,The Alphabet Murders (1966)
0,"The A.B.C. Murders (1936),",Agatha Christie,The A.B.C. Murders (1992)
0,"The A.B.C. Murders (1936),",Agatha Christie,(TV)
1,"À ton image (1998),",Louise L. Lambrichs,À ton image (2004)
2,"De Aanslag (The Assault) (1982),",Harry Mulisch,The Assault (1986)
...,...,...,...
1469,"Zazie in the Metro (Zazie dans le métro) (1959),",Raymond Queneau,(1960)
1470,"De Zesde Mei (2003),",Tomas Ross,06/05 (2003)
1471,"Zona Zamfirova (1906),",Stefan Sremac,Zona Zamfirova (2002)
1472,"Zorba the Greek (1946),",Nikos Kazantzakis,Zorba the Greek (1964)
1473,"Zuqāq al-Midaq (Midaq Alley) (1947),",Naguib Mahfouz,El callejón de los milagros (1994)

In [ ]:
#save the cleaned test3 file as final_clean_a_to_z.csv

In [5]:
clean_df = pd.read_csv("final_clean_a_to_z.csv")
clean_df.to_csv("final_clean_a_to_z.csv", encoding="utf-8", index=False)
clean_df

,books,authors,movies,released_year
0,"The A.B.C. Murders (1936),",Agatha Christie,The Alphabet Murders,1966.0
1,"The A.B.C. Murders (1936),",Agatha Christie,The A.B.C. Murders,1992.0
2,"À ton image (1998),",Louise L. Lambrichs,À ton image,2004.0
3,"De Aanslag (The Assault) (1982),",Harry Mulisch,The Assault,1986.0
4,"About a Boy (1998),",Nick Hornby,About a Boy,2002.0
...,...,...,...,...
2788,"The Story of Zarak Khan (1949),",A. J. Bevan,Zarak,1956.0
2789,"Zathura (2002),",Chris Van Allsburg,Zathura,2005.0
2790,"Zona Zamfirova (1906),",Stefan Sremac,Zona Zamfirova,2002.0
2791,"Zorba the Greek (1946),",Nikos Kazantzakis,Zorba the Greek,1964.0
2792,"Zuqāq al-Midaq (Midaq Alley) (1947),",Naguib Mahfouz,El callejón de los milagros,1994.0